extends ../../../layout.pug

block dropdown
  ul.header__list
    li.header__item
      label.header__label(for="name") 山田　太郎 様
        i.fas.fa-caret-down.ml-2
      input#name.header__check(type="checkbox")
      .header__option-wrapper.header__option-wrapper--lg
        a.header__option(href="#") Logout

block nav
  nav.nav
    ul.nav__list 
      li.nav__item
        a.nav__link(href="#") 管理者アカウント
      li.nav__item
        a.nav__link(href="#") 登録企業管理
      li.nav__item
        a.nav__link(href="#") 求人管理
      li.nav__item
        a.nav__link(href="#") 求職者管理
      li.nav__item
        a.nav__link(href="#") クチコミ管理

block content
  section.section
    .wrapper.wrapper--admin
      h2.heading 企業管理 - 応募者一覧
      .flex(class="mb-[100px]")
        button.tabs.tabs--white 企業情報
        button.tabs.tabs--white 評価・クチコミ
        button.tabs.tabs--white.tabs--active 求人・応募
      .content.content--shadow.mb-10(class="py-[25px] px-[20px]")
        div
          p.text-2xl.font-bold リーダー候補 / 水処理用中空糸ろ過膜及びろ過装置の営業職【東京都千代田区】
      .views.mb-9
        div(class='text-[#333333]')
          .font-bold 該当件数: 全
            span(class="text-[#007bff]") 0000
            | 人
        .flex
          p.mr-5(class="text-[#646464]") 応募日順
          p.mr-5(class="text-[#007bff]") ID順
      table.table(class="mb-[38px]")
        thead
          th.table__header.uppercase(class="w-[15%]") ID
          th.table__header(class="w-[33%]") 求職者名
          th.table__header(class="w-[12%]") 世代
          th.table__header(class="w-[20%]") 居住地
          th.table__header(class="w-[20%]") 応募日
        tbody
          tr.table__row
            td.table__data
              a.link.link--line(href="#") 〇〇
            td.table__data 〇〇〇〇〇〇〇
            td.table__data 20代
            td.table__data 大阪府
            td.table__data 2022年7月1日
          tr.table__row
            td.table__data
              a.link.link--line(href="#") 〇〇
            td.table__data 〇〇〇〇〇〇〇
            td.table__data 20代
            td.table__data 神奈川県
            td.table__data 2022年7月1日
          tr.table__row
            td.table__data
              a.link.link--line(href="#") 〇〇
            td.table__data 〇〇〇〇〇〇〇
            td.table__data 30代
            td.table__data 東京都
            td.table__data 2022年6月30日
          tr.table__row
            td.table__data
              a.link.link--line(href="#") 〇〇
            td.table__data 〇〇〇〇〇〇〇
            td.table__data 20代
            td.table__data 千葉県
            td.table__data 2022年6月29日
          tr.table__row
            td.table__data
              a.link.link--line(href="#") 〇〇
            td.table__data 〇〇〇〇〇〇〇
            td.table__data 40代
            td.table__data 埼玉県
            td.table__data 2022年6月29日
      button.button.button--secondary.mx-auto.font-bold(class="w-[252px] h-[57px] text-[28px]") 求人詳細に戻る