extends ../../../layout.pug

block dropdown
  ul.header__list
    li.header__item
      label(for="name").header__label 山田　太郎 様
        i.fas.fa-caret-down.ml-2
      input#name.header__check(type="checkbox")
      .header__option-wrapper.header__option-wrapper--lg
        a.header__option Logout

block nav
  nav.nav
    ul.nav__list 
      li.nav__item
        a.nav__link(href="#") 管理者アカウント
      li.nav__item
        a.nav__link(href="#") 登録企業管理
      li.nav__item
        a.nav__link(href="#") 求人管理
      li.nav__item
        a.nav__link(href="#") 求職者管理
      li.nav__item
        a.nav__link(href="#") クチコミ管理

block content
  section.section
    .wrapper.wrapper--admin
      h2.heading 企業管理 - 株式会社〇〇〇〇〇〇 
      .flex(class="mb-[30px]")
        button.tabs.tabs--white.tabs--active 企業情報
        button.tabs.tabs--white 評価・クチコミ
        button.tabs.tabs--white 求人・応募
      .content.content--shadow.mb-10
        form.form(action="")
          .form__wrapper
            .flex.items-center(class="min-h-[40px] w-1/3")
              label.form__content-label 企業名
            .form__text-wrapper
              input.form__input.text-black(type="text" class="h-[40px] text-base" value="株式会社〇〇〇〇〇〇")
          .form__wrapper
            .flex.items-center(class="min-h-[40px] w-1/3")
              label.form__content-label 業界
            .form__text-wrapper
              select.form__select.text-black(name="#" class="h-[40px] text-base m-0 w-full rounded-[4px]")
                option 飲食
                option 飲食
          .form__wrapper
            .flex.items-center(class="min-h-[40px] w-1/3")
              label.form__content-label メールアドレス
            .form__text-wrapper
              input.form__input.text-black(type="text" class="w-[81%] h-[40px] mr-[20px] text-base" value="〇〇〇〇〇@test.co,jp")
              button.button.button--primary(class="h-[40px]") アカウント発行
          .form__wrapper
            .flex.items-center(class="min-h-[40px] w-1/3")
              label.form__content-label 所在地
            .form__text-wrapper
              select.form__select.text-black(name="#" class="h-[40px] text-base m-0 w-full rounded-[4px]")
                option 東京都
                option 東京都
          .form__wrapper
            .flex.items-center(class="min-h-[40px] w-1/3")
              label.form__content-label 代表者名
            .form__text-wrapper
              input.form__input.text-black(type="text" class="h-[40px] text-base" value="〇〇〇〇〇〇")
          .form__wrapper
            .flex.items-center(class="min-h-[40px] w-1/3")
              label.form__content-label 資本金
            .form__text-wrapper
              input.form__input.text-black(type="text" class="h-[40px] text-base" value="〇〇〇〇〇〇")
          .form__wrapper
            .flex.items-center(class="min-h-[40px] w-1/3")
              label.form__content-label 設立年
            .form__text-wrapper
              input.form__input.text-black(type="text" class="h-[40px] text-base" value="〇〇〇〇〇〇")
          .form__wrapper
            .flex.items-center(class="min-h-[40px] w-1/3")
              label.form__content-label 従業員数
            .form__text-wrapper
              input.form__input.text-black(type="text" class="h-[40px] text-base" value="〇〇〇〇〇〇")
          .form__wrapper
            .flex.items-center(class="min-h-[40px] w-1/3")
              label.form__content-label 上場区分
            .form__text-wrapper
              input.form__input.text-black(type="text" class="h-[40px] text-base" value="〇〇〇〇〇〇")
          .form__wrapper
            .flex.items-center(class="min-h-[40px] w-1/3")
              label.form__content-label 事業内容
            .form__text-wrapper
              textarea.form__textarea.text-base.text-black.resize-none(name="", cols="30", rows="8") 〇〇〇〇〇〇〇〇〇〇〇〇〇〇〇〇〇〇〇〇〇〇〇〇
                | 〇〇〇〇〇〇〇〇〇〇〇〇〇〇〇〇〇〇
                | 〇〇〇〇〇〇〇〇〇〇〇〇〇〇〇〇〇〇〇〇〇〇〇〇〇〇〇〇〇〇
                | 
                | 〇〇〇〇〇〇〇〇〇〇〇〇〇〇〇〇〇〇
                | 
                | 〇〇〇〇〇〇〇〇〇〇〇〇〇〇〇〇〇〇〇〇〇〇〇〇
                | 〇〇〇〇〇〇〇〇〇〇〇〇〇〇〇〇〇〇〇〇〇〇〇〇〇〇〇〇〇〇〇〇〇
                | 〇〇〇〇〇〇〇〇〇〇〇〇〇〇〇〇〇〇〇〇〇〇〇〇 
          .form__wrapper
            .flex.items-center(class="min-h-[40px] w-1/3")
              label.form__content-label URL
            .form__text-wrapper
              input.form__input.text-black(type="text" class="h-[40px] text-base" value="https://〇〇〇〇〇〇〇〇〇〇〇〇")
          .form__wrapper
            .flex.items-center(class="min-h-[40px] w-1/3")
              label.form__content-label 企業ロゴ
            .form__text-wrapper.flex-col.items-start
              .form__input-file-wrap.relative(class="h-[40px] text-base")
                input.form__input-file(type="file" value="ファイルを選択して下さい")
                span.form__file-note(class="text-base text-black") ファイルを選択して下さい
              span.text-sm(class="text-[#7E7E7E] mt-[10px]") ※ファイルはPNGかJPGで300x300以内のものを選択して下さい
      .flex.justify-center
        button.button.button--secondary.mr-10 キャンセル
        button.button.button--primary 保存する
