extends ../../full_layout.pug

block content
  .main-wrapper
    section.section
      .card.card--account
          h2.heading.heading--underlined.text-center ログイン

          .card__group.mt-20(class="sp:mt-10")
            form.form(action="#" class="sp:mb-14")
              h3.heading.heading--sm.mb-5.text-center メールアドレスでログインする
              .form__group
                input.form__input.mb-7(type="email" placeholder="メールアドレス")
                input.form__input.mb-4(type="password" placeholder="パスワード")

                div(class="mb-10")
                  a.link.font-helvetica.text-base(href="#") パスワードを忘れた場合
                .flex.justify-center
                  button.button ログイン
            .social
              h3.heading.heading--sm.mb-5.text-center 外部のソーシャルサービスでログインする
              div
                button.button__social
                  i.text-white(class="fab fa-google")
                  span.button__social-text Google でログイン
                button.button__social.button__social--facebook
                  i.text-white(class="fab fa-facebook-f")
                  span.button__social-text Facebook でログイン
                button.button__social.button__social--twitter
                  i.text-white(class="fab fa-twitter")
                  span.button__social-text Twitter でログイン

          .flex.justify-center
            a.link.link--md.font-helvetica(href="#" class="mt-[75px] sp:mt-10") トップページへ戻る