extends ../../full_layout.pug

block content
  .main-wrapper
    section.section
      .card.card--account
        h2.heading.heading--underlined.mb-14.text-center パスワードの再設定

        .mx-auto(class="w-2/3 sp:w-full")
          p.text-base 新しく設定したいパスワードを以下に入力してください。

          form.form.px-7.mt-5(action="#" class="sp:px-0")
            .form__group.text-center.mb-5(class="py-5")
              input.form__input(type="password" placeholder="パスワード" class="mb-[24px] max-w-[530px]" required)
              input.form__input(type="password" placeholder="パスワード・確認" class="max-w-[530px]" required)

          p.text-base(class="mb-[45px] sp:mb-10") ※パスワードは8文字以上12文字以下で設定してください。
            br
            | ※パスワードには数字とアルファベットをそれぞれ1文字以上含めるようにしてください。

          .flex.justify-center
            button.button.text-white.font-helvetica パスワードの再設定