extends ../../full_layout.pug

block content
  .main-wrapper
    section.section
      .card.card--account
        h2.heading.heading--underlined.mb-14.text-center パスワード変更のメール送信

        .mx-auto(class="w-2/3 sp:w-full")
          p.text-base 以下に、登録されているメールアドレスを入力ください。
            br
            | パスワードを変更するリンクを、入力いただいたメールアドレスへお送りします。

          form.form.px-7.my-5(action="#" class="sp:px-0")
            .form__group.text-center.mb-5(class="py-5")
              input.form__input(type="email" placeholder="メールアドレス" class="max-w-[533px] md-screen:!text-base" required)
            .flex.justify-center
              button.button パスワード変更のメールを送信

          .flex.justify-center
            a.link.link--md(href="#") トップページへ戻る