extends ../../full_layout.pug

block content
  .main-wrapper
    section.section
      .card.card--account
        h2.heading.heading--underlined.text-center(class="mb-[55px] sp:mb-10") パスワード変更のメール送信完了

        p.text-base(class="max-w-[810px] mx-auto") パスワード変更のメール送信が完了しました。
          br
          | メールに記載されたリンクをクリックし、パスワードを再設定してください。

        .flex.justify-center
          a.link.link--md.font-helvetica(href="#" class="mt-[35px]") トップページへ戻る