extends ../../full_layout.pug

block content
  .main-wrapper
    section.section
      .card.card--account
        h2.heading.heading--underlined.text-center(class="mb-[55px] sp:mb-10") パスワード再設定の完了

        p.text-base(class="max-w-[820px] mx-auto") パスワードの再設定が完了しました。
          br
          | 再設定されたパスワードを使用してログインしてください。

        .flex.justify-center
          a.link.link--md.font-helvetica(href="#" class="mt-[35px]") トップページへ戻る