extends ../../full_layout.pug

block content
  .main-wrapper
    section.section
      .card.card--account
        h2.heading.heading--underlined.mb-14.text-center 仮登録完了

        p.text-base(class="max-w-[600px] mx-auto") 仮登録が完了しました。
          br
          | 登録いただいたメールアドレス宛に、【仮登録】の確認メールが届きます。
          br
          | 引き続き、メールに記載されたリンクをクリックして本登録手続きを行ってください。

        .flex.justify-center
          a.link.link--md(href="#" class="mt-16 sp:mt-12") トップページへ戻る