extends ../../full_layout.pug

block content
  .main-wrapper
    section.section
      .card.card--account
        h2.heading.heading--underlined.mb-14.text-center 会員プロフィール登録

        .mx-auto(class="max-w-[500px]")
          p ご自身の会員登録が完了しました。 
            br
            | 本サイトを会員としてご利用いただけます。

        .flex.justify-center
          a.link.link--md(href="#" class="mt-16 sp:mt-12")  トップページへ戻る