extends ../../layout.pug

block nav
  a.header__login-link(href="#") ログイン
  nav.nav(class="sp:hidden")
    ul.nav__list
      li.nav__item
        a.nav__link(href="#")
          img.nav__icon(src="/public/img/icon/recruit-orange.svg" alt="recruit")
          span.nav__text 求人を探す
      li.nav__item
        a.nav__link(href="#")
          img.nav__icon(src="/public/img/icon/kutikomi-orange.svg" alt="kutikomi")
          span.nav__text 口コミを探す

block headerLinks
  .header__link-wrapper(class="sp:hidden")
    a.header__link(href="#") 新規登録
    a.header__link(href="#") ログイン

block spMenu
  .menu
    label.menu__icon-wrapper(for="menu")
      img.menu__icon(src="/public/img/icon/menu-icon.svg" alt="menu icon")
    input.menu__check#menu(type="checkbox", name="menuToggle")
    .menu__side
      label.menu__overlay(for="menu")
      .menu__side-wrapper
        .menu__header
          label.menu__icon-wrapper(for="menu")
            img.menu__icon(src="/public/img/icon/menu-icon-close.svg" alt="menu icon close")
        .menu__button-wrapper
          a.button.button--orange-reversed(href="#") ログイン
          a.button.button--orange(href="#") 無料登録
        .menu__wrapper
          ul.menu__list
            li.menu__item
              a.menu__link(href="#")
                .flex-center-layout
                  img.menu__link-icon(src="/public/img/icon/recruit-orange.svg" alt="recruit")
                  span.menu__text 求人を探す
                img(src="/public/img/icon/arrow-gray.svg" alt="arrow")
            li.menu__item
              a.menu__link(href="#")
                .flex-center-layout
                  img.menu__link-icon(src="/public/img/icon/kutikomi-orange.svg" alt="kutikomi")
                  span.menu__text 口コミを探す
                img(src="/public/img/icon/arrow-gray.svg" alt="arrow")
        p.menu__copyright Copyright © Fulfill inc. All rights reserved.

block content
  .main-wrapper
    section.section
      h2.heading.heading--underlined 基本情報
      .section__wrapper.mt-5
        form.form(action="")
          .form__wrapper
            .flex.items-center(class="min-w-[20%]")
              label.form__label 名前
            .w-full.flex.items-center(class="sp:flex-col")
              input.form__input.mr-2(type="text" placeholder="姓" class="sp:mr-0 mb-3")
              input.form__input(type="text" placeholder="名")
          .form__wrapper
            .flex.items-center(class="min-w-[20%]")
              label.form__label フリガナ
            .w-full.flex.items-center(class="sp:flex-col")
              input.form__input.mr-2(type="text" placeholder="セイ" class="sp:mr-0 mb-3")
              input.form__input(type="text" placeholder="メイ")
          .form__wrapper
            .flex.items-center(class="min-w-[20%]")
              label.form__label 住所
            .w-full
              input.form__input(type="text" placeholder="住所を入力してください")
          .form__wrapper
            .flex.items-center(class="min-w-[20%]")
              label.form__label TEL
            .w-full
              input.form__input.mr-2(type="text" class="max-w-[40%] sp:max-w-[100%] mb-3" placeholder="電話番号を入力してください")
              select.form__select(class="max-w-[30%] sp:max-w-[100%]")
                option(value="option1") 携帯   
                option(value="option2") 自宅固定電話
                option(value="option3") 保護者連絡先

        .flex.justify-center(class="sp:flex-col")
          button.button.button--gray.mr-14(class="sp:mb-2") キャンセル
          button.button.mr-2(class="sp:mb-2")  変更する


    aside.sidebar
      .sidebar__card.mb-5
        p.sidebar__card-header 個人設定
        ul.sidebar__list
          li.sidebar__item
            a.sidebar__link(href="#")
              span 会員プロフィール
              img(src="/public/img/icon/arrow-gray.svg" alt="arrow")
          li.sidebar__item
            a.sidebar__link(href="#")
              span 詳細情報
              img(src="/public/img/icon/arrow-gray.svg" alt="arrow")
          li.sidebar__item
            a.sidebar__link(href="#")
              span 転職条件
              img(src="/public/img/icon/arrow-gray.svg" alt="arrow")
          li.sidebar__item
            a.sidebar__link(href="#")
              span サイト通知設定
              img(src="/public/img/icon/arrow-gray.svg" alt="arrow")

      ul.sidebar__list.sidebar__list--rounded
        li.sidebar__item
          a.sidebar__link(href="#")
            span トップページ
            img(src="/public/img/icon/arrow.svg" alt="arrow")
        li.sidebar__item
          a.sidebar__link(href="#")
            span フォロー企業
            img(src="/public/img/icon/arrow.svg" alt="arrow")
        li.sidebar__item
          a.sidebar__link(href="#")
            span フォロー求人
            img(src="/public/img/icon/arrow.svg" alt="arrow")
        li.sidebar__item
          a.sidebar__link(href="#")
            span クチコミ管理
            img(src="/public/img/icon/arrow.svg" alt="arrow")
        li.sidebar__item
          a.sidebar__link(href="#")
            span 退会
            img(src="/public/img/icon/arrow.svg" alt="arrow")

block footer
  include ../../footer.pug
