extends ../../layout.pug

block content
  .main-wrapper
    section.section
      .card.card--account
        h2.heading.heading--underlined.text-center(class="mb-[55px] sp:mb-10") 退会完了

        p.text-base(class="max-w-[500px] mx-auto") 退会手続きが完了しました。
          br
          | 転ブラをご利用いただき、ありがとうございました。
          br
          | またのご利用を心よりお待ちしております。

        .flex.justify-center
          a.link.link--md.font-helvetica(href="#" class="mt-[35px]") トップページへ戻る