footer.footer
  .footer__wrapper
    ul.footer__links
      li.footer__item
        a.footer__link(href="#") 運営会社
      li.footer__item
        a.footer__link(href="#") 利用規約
      li.footer__item
        a.footer__link(href="#") 個人情報の取り扱い
      li.footer__item
        a.footer__link(href="#") 転ジョーク会議のコンセプト
      li.footer__item
        a.footer__link(href="#") クチコミ投稿への取り組み
      li.footer__item
        a.footer__link(href="#") 投稿のガイドライン
      li.footer__item
        a.footer__link(href="#") お問い合わせ 

  .footer__copyright
    p.footer__copyright-text Copyright © Fulfill inc. All rights reserved.