header.header
  .header__wrapper
    .header__menu-wrapper
      h1.header__logo
        a(href="/")
          img(src="/public/img/tenjork-logo.svg" alt="logo")
      block nav
      block spMenu

    block headerLinks