
<div class="job-types">
  <ul class="job-types__list">
    <li class="job-types__item"><a class="link" href="#"><span>営業<img src="/public/img/icon/arrow-gray.svg" alt="arrow"/></span>
        <p class="job-types__description">営業、人材関連職</p></a></li>
    <li class="job-types__item"><a class="link" href="#"><span>事務・経営管理系<img src="/public/img/icon/arrow-gray.svg" alt="arrow"/></span>
        <p class="job-types__description">事務・受付・秘書、経営管理</p></a></li>
    <li class="job-types__item"><a class="link" href="#"><span>経営企画・マーケティング・企画系<img src="/public/img/icon/arrow-gray.svg" alt="arrow"/></span>
        <p class="job-types__description">経営企画・事業開発、マーケティング・企画</p></a></li>
    <li class="job-types__item"><a class="link" href="#"><span>販売・サービス系<img src="/public/img/icon/arrow-gray.svg" alt="arrow"/></span>
        <p class="job-types__description">飲食・フード系、小売・ファッション</p></a></li>
    <li class="job-types__item"><a class="link" href="#"><span>技術系（IT・通信）<img src="/public/img/icon/arrow-gray.svg" alt="arrow"/></span>
        <p class="job-types__description">システム開発（オープン・WEB系）</p></a></li>
    <li class="job-types__item"><a class="link" href="#"><span>クリエイティブ系<img src="/public/img/icon/arrow-gray.svg" alt="arrow"/></span>
        <p class="job-types__description">WEBデザイン・WEB企画、広告・グラフィック、映像・音</p></a></li>
    <li class="job-types__item"><a class="link" href="#"><span>建築・土木系<img src="/public/img/icon/arrow-gray.svg" alt="arrow"/></span>
        <p class="job-types__description">建築・土木関連</p></a></li>
    <li class="job-types__item"><a class="link" href="#"><span>技術系（電気・電子・機械・半導体）<img src="/public/img/icon/arrow-gray.svg" alt="arrow"/></span>
        <p class="job-types__description">機械関連、電気・電子関連、半導体関連、製造関連</p></a></li>
    <li class="job-types__item"><a class="link" href="#"><span>技術系(医薬・食品・素材)<img src="/public/img/icon/arrow-gray.svg" alt="arrow"/></span>
        <p class="job-types__description">医薬・医療機器、食品・化粧品、素材・化成品</p></a></li>
    <li class="job-types__item"><a class="link" href="#"><span>医療・福祉・保育系<img src="/public/img/icon/arrow-gray.svg" alt="arrow"/></span>
        <p class="job-types__description">医療、福祉、保育</p></a></li>
    <li class="job-types__item"><a class="link" href="#"><span>専門職(コンサルタント・法律・金融・不動産)<img src="/public/img/icon/arrow-gray.svg" alt="arrow"/></span>
        <p class="job-types__description">ビジネスコンサルタント・シンクタンク、法律・会計</p></a></li>
    <li class="job-types__item"><a class="link" href="#"><span>その他（教育、公務員、技能工、農林水産など）<img src="/public/img/icon/arrow-gray.svg" alt="arrow"/></span>
        <p class="job-types__description">教育・インストラクター・通訳、公務員・団体職員</p></a></li>
  </ul>
</div>