
<div class="prefecture">
  <div class="prefecture__wrapper">
    <input class="prefecture__check" id="prefecture1" type="checkbox" checked="checked"/>
    <label class="prefecture__label" for="prefecture1">北海道・東北地方<img src="/public/img/icon/arrow.svg" alt="arrow"/></label>
    <ul class="prefecture__list">
      <li class="prefecture__item"><a class="link" href="#">北海道<img src="/public/img/icon/arrow-gray.svg" alt="arrow"/></a></li>
      <li class="prefecture__item"><a class="link" href="#">青森県<img src="/public/img/icon/arrow-gray.svg" alt="arrow"/></a></li>
      <li class="prefecture__item"><a class="link" href="#">岩手県<img src="/public/img/icon/arrow-gray.svg" alt="arrow"/></a></li>
      <li class="prefecture__item"><a class="link" href="#">宮城県<img src="/public/img/icon/arrow-gray.svg" alt="arrow"/></a></li>
      <li class="prefecture__item"><a class="link" href="#">秋田県<img src="/public/img/icon/arrow-gray.svg" alt="arrow"/></a></li>
      <li class="prefecture__item"><a class="link" href="#">山形県<img src="/public/img/icon/arrow-gray.svg" alt="arrow"/></a></li>
      <li class="prefecture__item"><a class="link" href="#">福島県<img src="/public/img/icon/arrow-gray.svg" alt="arrow"/></a></li>
    </ul>
  </div>
  <div class="prefecture__wrapper">
    <input class="prefecture__check" id="prefecture2" type="checkbox"/>
    <label class="prefecture__label" for="prefecture2">関東地方<img src="/public/img/icon/arrow.svg" alt="arrow"/></label>
    <ul class="prefecture__list">
      <li class="prefecture__item"><a class="link" href="#">東京都<img src="/public/img/icon/arrow-gray.svg" alt="arrow"/></a></li>
      <li class="prefecture__item"><a class="link" href="#">神奈川県<img src="/public/img/icon/arrow-gray.svg" alt="arrow"/></a></li>
      <li class="prefecture__item"><a class="link" href="#">埼玉県<img src="/public/img/icon/arrow-gray.svg" alt="arrow"/></a></li>
      <li class="prefecture__item"><a class="link" href="#">千葉県<img src="/public/img/icon/arrow-gray.svg" alt="arrow"/></a></li>
      <li class="prefecture__item"><a class="link" href="#">茨城県<img src="/public/img/icon/arrow-gray.svg" alt="arrow"/></a></li>
      <li class="prefecture__item"><a class="link" href="#">栃木県<img src="/public/img/icon/arrow-gray.svg" alt="arrow"/></a></li>
      <li class="prefecture__item"><a class="link" href="#">群馬県<img src="/public/img/icon/arrow-gray.svg" alt="arrow"/></a></li>
    </ul>
  </div>
  <div class="prefecture__wrapper">
    <input class="prefecture__check" id="prefecture3" type="checkbox"/>
    <label class="prefecture__label" for="prefecture3">甲信越・北陸地方<img src="/public/img/icon/arrow.svg" alt="arrow"/></label>
    <ul class="prefecture__list">
      <li class="prefecture__item"><a class="link" href="#">新潟県<img src="/public/img/icon/arrow-gray.svg" alt="arrow"/></a></li>
      <li class="prefecture__item"><a class="link" href="#">長野県<img src="/public/img/icon/arrow-gray.svg" alt="arrow"/></a></li>
      <li class="prefecture__item"><a class="link" href="#">富山県<img src="/public/img/icon/arrow-gray.svg" alt="arrow"/></a></li>
      <li class="prefecture__item"><a class="link" href="#">石川県<img src="/public/img/icon/arrow-gray.svg" alt="arrow"/></a></li>
      <li class="prefecture__item"><a class="link" href="#">福井県<img src="/public/img/icon/arrow-gray.svg" alt="arrow"/></a></li>
      <li class="prefecture__item"><a class="link" href="#">山梨県<img src="/public/img/icon/arrow-gray.svg" alt="arrow"/></a></li>
    </ul>
  </div>
  <div class="prefecture__wrapper">
    <input class="prefecture__check" id="prefecture4" type="checkbox"/>
    <label class="prefecture__label" for="prefecture4">東海地方<img src="/public/img/icon/arrow.svg" alt="arrow"/></label>
    <ul class="prefecture__list">
      <li class="prefecture__item"><a class="link" href="#">愛知県<img src="/public/img/icon/arrow-gray.svg" alt="arrow"/></a></li>
      <li class="prefecture__item"><a class="link" href="#">岐阜県<img src="/public/img/icon/arrow-gray.svg" alt="arrow"/></a></li>
      <li class="prefecture__item"><a class="link" href="#">静岡県<img src="/public/img/icon/arrow-gray.svg" alt="arrow"/></a></li>
      <li class="prefecture__item"><a class="link" href="#">三重県<img src="/public/img/icon/arrow-gray.svg" alt="arrow"/></a></li>
    </ul>
  </div>
  <div class="prefecture__wrapper">
    <input class="prefecture__check" id="prefecture5" type="checkbox"/>
    <label class="prefecture__label" for="prefecture5">近畿地方<img src="/public/img/icon/arrow.svg" alt="arrow"/></label>
    <ul class="prefecture__list">
      <li class="prefecture__item"><a class="link" href="#">大阪府<img src="/public/img/icon/arrow-gray.svg" alt="arrow"/></a></li>
      <li class="prefecture__item"><a class="link" href="#">兵庫県<img src="/public/img/icon/arrow-gray.svg" alt="arrow"/></a></li>
      <li class="prefecture__item"><a class="link" href="#">京都府<img src="/public/img/icon/arrow-gray.svg" alt="arrow"/></a></li>
      <li class="prefecture__item"><a class="link" href="#">滋賀県<img src="/public/img/icon/arrow-gray.svg" alt="arrow"/></a></li>
      <li class="prefecture__item"><a class="link" href="#">奈良県<img src="/public/img/icon/arrow-gray.svg" alt="arrow"/></a></li>
      <li class="prefecture__item"><a class="link" href="#">和歌山県<img src="/public/img/icon/arrow-gray.svg" alt="arrow"/></a></li>
    </ul>
  </div>
  <div class="prefecture__wrapper">
    <input class="prefecture__check" id="prefecture6" type="checkbox"/>
    <label class="prefecture__label" for="prefecture6">中国地方<img src="/public/img/icon/arrow.svg" alt="arrow"/></label>
    <ul class="prefecture__list">
      <li class="prefecture__item"><a class="link" href="#">広島県<img src="/public/img/icon/arrow-gray.svg" alt="arrow"/></a></li>
      <li class="prefecture__item"><a class="link" href="#">岡山県<img src="/public/img/icon/arrow-gray.svg" alt="arrow"/></a></li>
      <li class="prefecture__item"><a class="link" href="#">鳥取県<img src="/public/img/icon/arrow-gray.svg" alt="arrow"/></a></li>
      <li class="prefecture__item"><a class="link" href="#">島根県<img src="/public/img/icon/arrow-gray.svg" alt="arrow"/></a></li>
      <li class="prefecture__item"><a class="link" href="#">山口県<img src="/public/img/icon/arrow-gray.svg" alt="arrow"/></a></li>
    </ul>
  </div>
  <div class="prefecture__wrapper">
    <input class="prefecture__check" id="prefecture7" type="checkbox"/>
    <label class="prefecture__label" for="prefecture7">四国地方<img src="/public/img/icon/arrow.svg" alt="arrow"/></label>
    <ul class="prefecture__list">
      <li class="prefecture__item"><a class="link" href="#">徳島県<img src="/public/img/icon/arrow-gray.svg" alt="arrow"/></a></li>
      <li class="prefecture__item"><a class="link" href="#">香川県<img src="/public/img/icon/arrow-gray.svg" alt="arrow"/></a></li>
      <li class="prefecture__item"><a class="link" href="#">愛媛県<img src="/public/img/icon/arrow-gray.svg" alt="arrow"/></a></li>
      <li class="prefecture__item"><a class="link" href="#">高知県<img src="/public/img/icon/arrow-gray.svg" alt="arrow"/></a></li>
    </ul>
  </div>
  <div class="prefecture__wrapper">
    <input class="prefecture__check" id="prefecture8" type="checkbox"/>
    <label class="prefecture__label" for="prefecture8">九州・沖縄地方<img src="/public/img/icon/arrow.svg" alt="arrow"/></label>
    <ul class="prefecture__list">
      <li class="prefecture__item"><a class="link" href="#">福岡県<img src="/public/img/icon/arrow-gray.svg" alt="arrow"/></a></li>
      <li class="prefecture__item"><a class="link" href="#">佐賀県<img src="/public/img/icon/arrow-gray.svg" alt="arrow"/></a></li>
      <li class="prefecture__item"><a class="link" href="#">長崎県<img src="/public/img/icon/arrow-gray.svg" alt="arrow"/></a></li>
      <li class="prefecture__item"><a class="link" href="#">大分県<img src="/public/img/icon/arrow-gray.svg" alt="arrow"/></a></li>
      <li class="prefecture__item"><a class="link" href="#">熊本県<img src="/public/img/icon/arrow-gray.svg" alt="arrow"/></a></li>
      <li class="prefecture__item"><a class="link" href="#">宮崎県<img src="/public/img/icon/arrow-gray.svg" alt="arrow"/></a></li>
      <li class="prefecture__item"><a class="link" href="#">鹿児島県<img src="/public/img/icon/arrow-gray.svg" alt="arrow"/></a></li>
      <li class="prefecture__item"><a class="link" href="#">沖縄県<img src="/public/img/icon/arrow-gray.svg" alt="arrow"/></a></li>
    </ul>
  </div>
</div>