extends ../../full_layout.pug

block content
  .main-wrapper
    section.section
      h2.heading.heading--underlined Page Title

      .mt-10
        h3.heading.heading--sm はじめに
        .section__wrapper.mt-2.font-helvetica
          p.text-grey ○○○○○○○○○○○○○○○○○○○○○○○○○○○○○○○○○○○○○○○○○○○○○○○○○○○○○○○○○○○○○○○○○○○○○○○○○○○○○○○○○○○○○○○○○○○○○○○○○○○○○○○○○○○○○○○○○○○○○○○○○○○○○○○○○○○○○○○○○○○○○○○○○○○○○○○○○○○○○○○○○○○○○○○○○○○○○○○○○○○○○○○○○○○○○○

      .mt-10
        h3.heading.heading--sm 個人に関する投稿をする際には以下の点に気をつけてください。
        .section__wrapper.mt-2.font-helvetica
          p.text-grey ○○○○○○○○○○○○○○○○○○○○○○○○○○○○○○○○○○○○○○○○○○○○○○○○○○○○○○○○○○○○○○○○○○○○○○○○○○○○○○○○○○○○○○○○○○○○○○○○○○○○○○○○○○○○○○○○○○○○○○○○○○○○○○○○○○○○○○○○○○○○○○○○○○○○○○○○○○○○○○○○○○○○○○○○○○○○○○○○○○○○○○○○○○○○○○