extends ../../full_layout.pug

block content
  .main-wrapper
    section.section
      h2.heading.heading--underlined 転ジョーク会議　個人情報の取り扱い

      .section__wrapper.mt-10.font-helvetica
        p.text-grey この「個人情報の取り扱い」は、当社の提供するサービスである「転ジョーク会議」（以下総称して「本サービス」といいます。）において取得する、ユーザー等の個人情報の取り扱いについて定めるものです。
          br
          br
          | 当社プライバシーポリシー及び個人情報の取り扱い（全社）（
          a.link.text-base(href="https://www.livesense.co.jp/privacy-policy/") https://www.livesense.co.jp/privacy-policy/
          | ）と併せてご参照ください。

      .mt-8
        p.text-grey Lorem Ipsum
