extends ../../full_layout.pug

block content
  .main-wrapper
    section.section
      h2.heading.heading--underlined 転ジョーク会議の利用規約

      .section__wrapper.mt-10.font-helvetica
        p.text-grey はじめに
          br
          br
          | 本利用規約は、株式会社リブセンス（以下「弊社」といいます）が運営する「転職会議」 （以下「本サイト」といいます）を利用するユーザーの一切の行為に適用されます。
          br
          | ユーザーは、本利用規約の全ての記載内容について同意し、本利用規約に従って本サイトを利用するものとします。
          br
          | 本利用規約は、弊社の判断で任意に変更できるものとします。ユーザーは、本サイトを利用する場合、その時点で本利用規約の内容に同意するものとします。
          br
          | 本利用規約には、ユーザーの個人情報に関する重要な事項が含まれておりますので、十分にご確認ください。

      .mt-8
        p.text-grey Lorem Ipsum
