extends ../../layout.pug

block nav
  a.header__login-link(href="#") ログイン
  nav.nav(class="sp:hidden")
    ul.nav__list
      li.nav__item
        a.nav__link(href="#")
          img.nav__icon(src="/public/img/icon/recruit-orange.svg" alt="recruit")
          span.nav__text 求人を探す
      li.nav__item
        a.nav__link(href="#")
          img.nav__icon(src="/public/img/icon/kutikomi-orange.svg" alt="kutikomi")
          span.nav__text 口コミを探す

block headerLinks
  .header__link-wrapper(class="sp:hidden")
    a.header__link(href="#") マイページ
    a.header__link(href="#") ログアウト

block spMenu
  .menu
    label.menu__icon-wrapper(for="menu")
      img.menu__icon(src="/public/img/icon/menu-icon.svg" alt="menu icon")
    input.menu__check#menu(type="checkbox", name="menuToggle")
    .menu__side
      label.menu__overlay(for="menu")
      .menu__side-wrapper
        .menu__header
          label.menu__icon-wrapper(for="menu")
            img.menu__icon(src="/public/img/icon/menu-icon-close.svg" alt="menu icon close")
        .menu__button-wrapper
          a.button.button--orange-reversed(href="#") ログイン
          a.button.button--orange(href="#") 無料登録
        .menu__wrapper
          ul.menu__list
            li.menu__item
              a.menu__link(href="#")
                .flex-center-layout
                  img.menu__link-icon(src="/public/img/icon/recruit-orange.svg" alt="recruit")
                  span.menu__text 求人を探す
                img(src="/public/img/icon/arrow-gray.svg" alt="arrow")
            li.menu__item
              a.menu__link(href="#")
                .flex-center-layout
                  img.menu__link-icon(src="/public/img/icon/kutikomi-orange.svg" alt="kutikomi")
                  span.menu__text 口コミを探す
                img(src="/public/img/icon/arrow-gray.svg" alt="arrow")
        p.menu__copyright Copyright © Fulfill inc. All rights reserved.

block content
  .main-wrapper
    section.section
      .card.mb-6.mt-5
        .card__body
          ul.card_list
            li.card__item
              .card__title-container.card__title-container--no-border
                a.card__title(href="#") 株式会社○○○○○
                .card__corporation-details.items-start(class="sp:flex-col")
                  div(class="w-3/12 sp:w-full")
                    img(src="/public/img/icon/company-default-img.jpg", alt="company")

                  div.ml-3
                    .flex-center-layout(class="sp:mt-4")
                      img.card__emoticon(src="/public/img/icon/bakusyou.svg", alt="emoticon")
                      p.card__corporation-text 評価

                      img.card__icon(src="/public/img/icon/recruit.svg", alt="recruit")
                      p.card__corporation-text 求人数
                        span.card__corporation-text.text-primary-orange.font-bold.ml-2 0件

                      img.card__icon(src="/public/img/icon/kutikomi.svg", alt="kutikomi")
                      p.card__corporation-text クチコミ
                        span.card__corporation-text.text-primary-orange.font-bold.ml-2  000件

                    .flex-center-layou.mt-4
                      .card__company-details.flex
                        p.card__corporation-text.text-primary-orange.font-bold 業界 
                        p.card__corporation-text 飲食

                      .card__company-details.flex
                        p.card__corporation-text.text-primary-orange.font-bold 所在地
                        p.card__corporation-text 東京都〇〇区〇〇〇〇
                      
                      .card__company-details.flex
                        p.card__corporation-text.text-primary-orange.font-bold URL
                        p.card__corporation-text https://www.url.com/

                  
                  .flex.justify-center.flex-col.w-32.ml-auto(class="sp:mt-4 sp:w-full")
                    a.button.button--orange.button--small.mb-2
                      img.mr-2(src="/public/img/icon/white-pencil.svg", alt="edit")
                      | 口コミを書く
                    
                    //- Follow 
                    a.button.button--orange-reversed.button--small(href="#")
                      img.mr-2(src="/public/img/icon/plus-red.svg", alt="add")
                      | フォロー 

                    //- Unfollow 
                    //- a.button.button--orange-reversed.button--small フォローを解除    
      .card.mb-6
        .card__body.py-5.px-7
          .flex.items-center.justify-between
            p.heading.text-lg.mr-3 求人・職種タイトル
            button.button.button--orange-reversed.button--small.w-32(type="button")
              img.mr-2(src="/public/img/icon/check.svg", alt="check")
              | フォロー中 
      .card.mb-4
        .card__header
          h2.card__heading 募集要項・職務内容
        .card__body.py-5.px-7
          p.corporate-text 〇〇〇〇〇〇〇〇〇〇〇〇〇〇〇〇〇〇〇〇〇〇〇〇〇〇〇〇〇〇〇〇〇〇〇〇〇〇〇〇〇〇〇〇〇〇〇〇〇〇〇〇〇〇〇〇〇〇〇〇〇〇〇〇〇〇〇〇〇〇〇〇〇〇〇〇〇〇〇〇〇〇〇〇〇〇〇〇〇〇〇〇〇〇〇〇〇〇〇〇〇〇〇〇〇〇〇〇〇〇〇〇〇〇〇〇〇〇〇〇〇〇〇〇〇〇〇〇〇〇〇〇〇〇〇〇〇〇〇
            | 〇〇〇〇〇〇〇〇〇〇〇〇〇〇〇〇〇〇〇〇〇〇〇〇〇〇〇〇〇〇〇〇〇〇〇〇〇〇〇〇〇〇〇〇〇〇〇〇〇〇〇〇〇〇〇〇〇〇〇〇〇〇〇〇〇〇〇〇〇〇〇〇〇〇〇〇〇〇〇〇〇〇〇〇〇〇〇〇〇〇〇〇〇〇〇〇〇〇〇〇〇〇〇〇〇〇〇〇〇〇〇〇〇〇〇〇〇〇〇〇〇〇〇〇〇〇〇〇〇〇〇〇〇〇〇〇〇〇〇
            | 〇〇〇〇〇〇〇〇〇〇〇〇〇〇〇〇〇〇〇〇〇〇〇〇〇〇〇〇〇〇〇〇〇〇〇〇〇〇〇〇〇〇〇〇〇〇〇〇〇〇〇〇〇〇〇〇〇〇〇〇〇〇〇〇〇〇〇〇〇〇〇〇〇〇〇〇〇〇〇〇〇〇〇〇〇〇〇〇〇〇〇〇〇〇〇〇〇〇〇〇〇〇〇〇〇〇〇〇〇〇〇〇〇〇〇〇〇〇〇〇〇〇〇〇〇〇〇〇〇〇〇〇〇〇〇〇〇〇〇
            | 〇〇〇〇〇〇〇〇〇〇〇〇〇〇〇〇〇〇〇〇〇〇〇〇〇〇〇〇〇〇〇〇〇〇〇〇〇〇〇〇〇〇〇〇〇〇〇〇〇〇〇〇〇〇〇〇〇〇〇〇〇〇〇〇〇〇〇〇〇〇〇〇〇〇〇〇〇〇〇〇〇〇〇〇〇〇〇〇〇〇〇〇〇〇〇〇〇〇〇〇〇〇〇〇〇〇〇〇〇〇〇〇〇〇〇〇〇〇〇〇〇〇〇〇〇〇〇〇〇〇〇〇〇〇〇〇〇〇〇
            | 〇〇〇〇〇〇〇〇〇〇〇〇〇〇〇〇〇〇〇〇〇〇〇〇〇〇〇〇〇〇〇〇〇〇〇〇〇〇〇〇〇〇〇〇〇〇〇〇〇〇〇〇〇〇〇〇〇〇〇〇〇〇〇〇〇〇〇〇〇〇〇〇〇〇〇〇〇〇〇〇〇〇〇〇〇〇〇〇〇〇〇〇〇〇〇〇〇〇〇〇〇〇〇〇〇〇〇〇〇〇〇〇〇〇〇〇〇〇〇〇〇〇〇〇〇〇〇〇〇〇〇〇〇〇〇〇〇〇〇
            br
            br
            | 〇〇〇〇〇〇〇〇〇〇〇〇〇〇〇〇〇〇〇〇〇〇〇〇〇〇〇〇〇〇〇〇〇〇〇〇〇〇〇〇〇〇〇〇〇〇〇〇〇〇〇〇〇〇〇〇〇〇〇〇〇〇〇〇〇〇〇〇〇〇〇〇〇〇〇〇〇〇〇〇〇〇〇〇〇〇〇〇〇〇〇〇〇〇〇〇〇〇〇〇〇〇〇〇〇〇〇〇〇
            | 〇〇〇〇〇〇〇〇〇〇〇〇〇〇〇〇〇〇〇〇〇〇〇〇〇〇〇〇〇〇〇〇〇〇〇〇〇〇〇〇〇〇〇〇〇〇〇〇〇〇〇〇〇〇〇〇〇〇〇〇〇〇〇〇〇〇〇〇〇〇〇〇〇〇〇〇〇〇〇〇〇〇〇〇〇〇〇〇〇〇〇〇〇〇〇〇〇〇〇〇〇〇〇〇〇〇〇〇〇〇〇〇〇〇〇〇〇〇〇〇〇〇〇〇〇〇〇〇〇〇〇〇〇〇〇〇〇〇〇
            | 〇〇〇〇〇〇〇〇〇〇〇〇〇〇〇〇〇〇〇〇〇〇〇〇〇〇〇〇〇〇〇〇〇〇〇〇〇〇〇〇〇〇〇〇〇〇〇〇〇〇〇〇〇〇〇〇〇〇〇〇〇〇〇〇〇〇〇〇〇〇〇〇〇〇〇〇〇〇〇〇〇〇〇〇〇〇〇〇〇〇〇〇〇〇〇〇〇〇〇〇〇〇〇〇〇〇〇〇〇〇〇〇〇〇〇〇〇〇〇〇〇〇〇〇〇〇〇〇〇〇〇〇〇〇〇〇〇〇〇
            br
            br
            | 〇〇〇〇〇〇〇〇〇〇〇〇〇〇〇〇〇〇〇〇〇〇〇〇〇〇〇〇〇〇〇〇〇〇〇〇〇〇〇〇〇〇〇〇〇〇〇〇〇〇〇〇〇〇〇〇〇〇〇〇〇〇〇〇〇〇〇〇〇〇〇〇〇〇〇〇〇〇〇〇〇〇〇〇〇〇〇〇〇〇〇〇〇〇〇〇〇〇〇〇〇〇〇〇〇〇〇〇〇
            | 〇〇〇〇〇〇〇〇〇〇〇〇〇〇〇〇〇〇〇〇〇〇〇〇〇〇〇〇〇〇〇〇〇〇〇〇〇〇〇〇〇〇〇〇〇〇〇〇〇〇〇〇〇〇〇〇〇〇〇〇〇〇〇〇〇〇〇〇〇〇〇〇〇〇〇〇〇〇〇〇〇〇〇〇〇〇〇〇〇〇〇〇〇〇〇〇〇〇〇〇〇〇〇〇〇〇〇〇〇〇〇〇〇〇〇〇〇〇〇〇〇〇〇〇〇〇〇〇〇〇〇〇〇〇〇〇〇〇〇
            | 〇〇〇〇〇〇〇〇〇〇〇〇〇〇〇〇〇〇〇〇〇〇〇〇〇〇〇〇〇〇〇〇〇〇〇〇〇〇〇〇〇〇〇〇〇〇〇〇〇〇〇〇〇〇〇〇〇〇〇〇〇〇〇〇〇〇〇〇〇〇〇〇〇〇〇〇〇〇〇〇〇〇〇〇〇〇〇〇〇〇〇〇〇〇〇〇〇〇〇〇〇〇〇〇〇〇〇〇〇〇〇〇〇〇〇〇〇〇〇〇〇〇〇〇〇〇〇〇〇〇〇〇〇〇〇〇〇〇〇
      .card.mb-4
        .card__header
          h2.card__heading 基本情報
        .card__body.py-5.px-7
          div.mb-4
            p.card__title 【勤務地】
            .flex-baseline-layout
              .mr-3(class="w-[20%]")
                label 本社
              .w-full
                p 〇〇〇〇〇〇〇〇〇〇〇〇〇〇〇〇
            .flex-baseline-layout
              .mr-3(class="w-[20%]")
                label 支社
              .w-full
                p 〇〇〇〇〇〇〇〇〇〇〇〇〇〇〇〇
          div.mb-4
            p.card__title &lt;転勤&gt;
            p 無
          div.mb-4
            p.card__title 【労働時間区分】
            p フレックスタイム制
            .flex-baseline-layout
              .mr-3(class="w-[20%]")
                label コアタイム
              .w-full
                p 10:00 〜 16:30
            .flex-baseline-layout
              .mr-3(class="w-[20%]")
                label 休憩時間
              .w-full
                p 60分
            .flex-baseline-layout
              .mr-3(class="w-[20%]")
                label 時間外労働有無
              .w-full
                p 有
          div.mb-4
            p.card__title 【給与】
            p 〇〇〇〜〇〇〇万円
            p &lt;内訳&gt;
            p 月額（基本給）〇〇〜〇〇万円
          div.mb-4
            p.card__title 【賃金形態】
            p 月給制
            p ※職位・ランクによって年俸制
          div.mb-4
            p.card__title 【昇級有無】
            p 有
          div.mb-4
            p.card__title 【昇級有無】
            p 有
          div.mb-4
            p.card__title 【休暇制度】
            p 〇〇〇〇〇〇〇〇〇〇〇〇〇〇〇〇〇〇
              br
              | 〇〇〇〇〇〇〇〇〇〇〇〇〇〇〇〇〇
      .card.mb-4
        .card__header
          h2.card__heading 応募要項
        .card__body.py-5.px-7
          div.mb-4
            p.card__title 【掲載期間】
            p.mb-4 〇〇〇〇年〇〇月〇〇日 〜 〇〇〇〇年〇〇月〇〇日
            p 〇〇〇〇〇〇〇〇〇〇〇〇〇〇〇〇〇〇〇〇〇〇〇〇〇〇〇〇〇〇〇〇〇〇〇〇〇〇〇〇〇〇〇〇〇〇〇〇〇〇〇〇〇〇〇〇〇〇〇〇〇
              | 〇〇〇〇〇〇〇〇〇〇〇〇〇〇〇〇〇〇〇〇〇〇〇〇〇〇〇〇〇〇〇〇〇〇〇〇〇〇〇〇〇〇〇〇〇〇〇〇〇〇〇〇〇〇〇〇〇〇〇〇〇〇〇〇〇〇〇〇〇〇〇〇〇
            br
            br
            p 〇〇〇〇〇〇〇〇〇〇〇〇〇〇〇〇〇〇〇〇〇〇〇〇〇〇〇〇〇〇〇〇〇〇〇〇〇〇〇〇〇〇〇〇〇〇〇〇〇〇〇〇〇〇〇〇〇〇〇〇〇
              | 〇〇〇〇〇〇〇〇〇〇〇〇〇〇〇〇〇〇〇〇〇〇〇〇〇〇〇〇〇〇〇〇〇〇〇〇〇〇〇〇〇〇〇〇〇〇〇〇〇〇〇〇〇〇〇〇〇〇〇〇〇〇〇〇〇〇〇〇〇〇〇〇〇
      .flex.justify-center
        button.button.mr-2.font-bold(class="sp:mb-2") 応募ページへ
          img.ml-2(src="/public/img/icon/arrow-white.svg", alt="arrow")
    aside.sidebar(class="sp:mb-[20px]")
        p.sidebar__card-header.sidebar__card-header--transparent ガイド
        ul.sidebar__list.sidebar__list--rounded
          li.sidebar__item
            a.sidebar__link(href="#")
              span 新着通知
              img(src="/public/img/icon/arrow.svg" alt="arrow")
          li.sidebar__item
            a.sidebar__link(href="#")
              span 口コミを探す
              img(src="/public/img/icon/arrow.svg" alt="arrow")
          li.sidebar__item
            a.sidebar__link(href="#")
              span 求人を探す
              img(src="/public/img/icon/arrow.svg" alt="arrow")

block footer
  include ../../footer.pug
